<div class="projects container-fluid">
  <div class="row">
    <div class="offset-3 col">
      <div class="row">
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/certificates/1.jpg" alt="1">
            <img src="./assets/static/images/certificates/1.jpg" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/certificates/2.jpg" alt="1">
            <img src="./assets/static/images/certificates/2.jpg" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/certificates/3.jpg" alt="1">
            <img src="./assets/static/images/certificates/3.jpg" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container swiper-holder">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/certificates/1.jpg" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/certificates/2.jpg" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/certificates/3.jpg" alt="1">
        </a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
