<footer id="footer">
  <div class="container d-flex align-items-center justify-content-between">
    <div id="social-links" class="social-links">
      <a target="_blank" href="https://www.facebook.com/profile.php?id=100001363493595">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/dmitriy-mironenko/">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a target="_blank" href="https://github.com/miron809">
        <i class="fab fa-github fa-2x"></i>
      </a>
      <a target="_blank" href="skype:mironenko-dmitriy">
        <i class="fab fa-skype fa-2x"></i>
      </a>
    </div>
    <a href="https://rabota.ua/cv/7520796"
       class="redLinkTransition"
       data-title="Back to my CV"
       target="_blank"><strong>Back to my CV</strong></a>
  </div>
</footer>

</body>
</html>
