<footer id="footer">
  <div class="container d-flex align-items-center justify-content-between">
    <div id="social-links" class="social-links">
      <a href="#">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a href="#">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a href="#">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </div>
    <a href="#"
       class="redLinkTransition"
       data-title="Back to my CV"
       target="_blank"><strong>Back to my CV</strong></a>
  </div>
</footer>

</body>
</html>
