<div class="projects">
  <div class="project-item">
    <img class="content__img" src="./assets/static/images/js/1.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="https://www.w3schools.com/jsref/met_win_cleartimeout.asp" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="content__img" src="./assets/static/images/js/2.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="content__img" src="./assets/static/images/js/3.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="content__img" src="./assets/static/images/js/4.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="content__img" src="./assets/static/images/js/5.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="content__img" src="./assets/static/images/js/6.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="content__img" src="./assets/static/images/js/7.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="content__img" src="./assets/static/images/js/8.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="content__img" src="./assets/static/images/js/9.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="content__img" src="./assets/static/images/js/10.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="content__img" src="./assets/static/images/js/11.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="content__img" src="./assets/static/images/js/12.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="content__img" src="./assets/static/images/js/13.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="content__img" src="./assets/static/images/js/14.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="content__img" src="./assets/static/images/js/15.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="content__img" src="./assets/static/images/js/16.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="content__img" src="./assets/static/images/js/17.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="content__img" src="./assets/static/images/js/18.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="content__img" src="./assets/static/images/js/19.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="content__img" src="./assets/static/images/js/20.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
</div>
