<div class="projects">
  <div class="project-item">
    <img class="cover-image" src="./assets/static/images/html/1.jpg" alt="1">
    <img src="./assets/static/images/html/1.jpg" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="cover-image" src="./assets/static/images/html/2.png" alt="1">
    <img src="./assets/static/images/html/2.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="cover-image" src="./assets/static/images/html/3.jpg" alt="1">
    <img src="./assets/static/images/html/3.jpg" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="cover-image" src="./assets/static/images/html/4.png" alt="1">
    <img src="./assets/static/images/html/4.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="cover-image" src="./assets/static/images/html/5.jpg" alt="1">
    <img src="./assets/static/images/html/5.jpg" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="cover-image" src="./assets/static/images/html/6.png" alt="1">
    <img src="./assets/static/images/html/6.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="cover-image" src="./assets/static/images/html/7.jpg" alt="1">
    <img src="./assets/static/images/html/7.jpg" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="cover-image" src="./assets/static/images/html/8.jpg" alt="1">
    <img src="./assets/static/images/html/8.jpg" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="cover-image" src="./assets/static/images/html/9.jpg" alt="1">
    <img src="./assets/static/images/html/9.jpg" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="cover-image" src="./assets/static/images/html/10.jpg" alt="1">
    <img src="./assets/static/images/html/10.jpg" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="cover-image" src="./assets/static/images/html/11.jpg" alt="1">
    <img src="./assets/static/images/html/11.jpg" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
  <div class="project-item">
    <img class="cover-image" src="./assets/static/images/html/12.png" alt="1">
    <img src="./assets/static/images/html/12.png" alt="1">
    <div class="content">
      <h4>Title</h4>
      <p>text</p>
      <a href="#" class="live-button">Live Demo</a>
    </div>
  </div>
</div>
