<div class="projects container-fluid">
  <div class="row">
    <div class="offset-3 col">
      <div class="row">
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/js/1.png" alt="1">
            <img src="./assets/static/images/js/1.png" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/js/2.png" alt="1">
            <img src="./assets/static/images/js/2.png" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/js/3.png" alt="1">
            <img src="./assets/static/images/js/3.png" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/js/4.png" alt="1">
            <img src="./assets/static/images/js/4.png" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/js/5.png" alt="1">
            <img src="./assets/static/images/js/5.png" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/js/6.png" alt="1">
            <img src="./assets/static/images/js/6.png" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/js/7.png" alt="1">
            <img src="./assets/static/images/js/7.png" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/js/8.png" alt="1">
            <img src="./assets/static/images/js/8.png" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/js/9.png" alt="1">
            <img src="./assets/static/images/js/9.png" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/js/10.png" alt="1">
            <img src="./assets/static/images/js/10.png" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/js/11.png" alt="1">
            <img src="./assets/static/images/js/11.png" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/js/12.png" alt="1">
            <img src="./assets/static/images/js/12.png" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/js/13.png" alt="1">
            <img src="./assets/static/images/js/13.png" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/js/14.png" alt="1">
            <img src="./assets/static/images/js/14.png" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/js/15.png" alt="1">
            <img src="./assets/static/images/js/15.png" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/js/16.png" alt="1">
            <img src="./assets/static/images/js/16.png" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/js/17.png" alt="1">
            <img src="./assets/static/images/js/17.png" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/js/18.png" alt="1">
            <img src="./assets/static/images/js/18.png" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/js/19.png" alt="1">
            <img src="./assets/static/images/js/19.png" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="project-item">
            <img class="cover-image" src="./assets/static/images/js/20.png" alt="1">
            <img src="./assets/static/images/js/20.png" alt="1">
            <div class="content">
              <a href="#" class="live-button">Live Demo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container swiper-holder">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/js/1.png" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/js/2.png" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/js/3.png" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/js/4.png" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="http://goldis-audit.com.ua/ru/uslugi/">
          <img src="./assets/static/images/js/5.png" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/js/6.png" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/js/7.png" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/js/8.png" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/js/9.png" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/js/10.png" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/js/11.png" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/js/12.png" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/js/13.png" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/js/14.png" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/js/15.png" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/js/16.png" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/js/17.png" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/js/18.png" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/js/19.png" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="./assets/static/images/js/20.png" alt="1">
        </a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
