@media only screen and (max-width: 768px) {
  .port-item {
    width: 32%;
  }
}

@media only screen and (max-width: 480px) {
  .port-item {
    width: 100%;
    margin: 0 0 3% 0;
  }
//  menu
  .menu-burger {
    display: flex;
  }
  nav.menu-open {
    transform: translateX(0);
  }
  nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: rgba($dark-bg-color, .8);
    z-index: 99999;
    display: flex;
    align-items: center;
    transform: translateX(-101%);
    transition: transform .3s;
    .navbar {
      flex-direction: column;
      flex: 1 100%;
      li {
        margin: 0;
        a {
          display: block;
          color: #fff;
          padding: 10px 20px;
          border-bottom: 1px solid $red-color;
        }
        &:first-child {
          a {
            border-top: 1px solid $red-color;
          }
        }
      }
      li.active {
        a {
          background: $red-color;
          color: #fff;
        }
      }
    }
  }
  .left-set-input {
    margin-right: 0 !important;
  }
}