/* font-family: "EtelkaMediumProRegular"; */
@font-face {
  font-family: "EtelkaLightPro";
  src: url("../fonts/EtelkaLightPro/EtelkaLightPro.eot");
  src: url("../fonts/EtelkaLightPro/EtelkaLightPro.eot?#iefix")format("embedded-opentype"),
  url("../fonts/EtelkaLightPro/EtelkaLightPro.woff") format("woff"),
  url("../fonts/EtelkaLightPro/EtelkaLightPro.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "EtelkaMediumProRegular";
  src: url("../fonts/EtelkaMediumProRegular/EtelkaMediumProRegular.eot");
  src: url("../fonts/EtelkaMediumProRegular/EtelkaMediumProRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/EtelkaMediumProRegular/EtelkaMediumProRegular.woff") format("woff"),
  url("../fonts/EtelkaMediumProRegular/EtelkaMediumProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "sfuitext"; */
@font-face {
  font-family: "SFUIText";
  src: url("../fonts/SFUIText/SFUIText.eot");
  src: url("../fonts/SFUIText/SFUIText.eot?#iefix")format("embedded-opentype"),
  url("../fonts/SFUIText/SFUIText.woff") format("woff"),
  url("../fonts/SFUIText/SFUIText.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SFUIText-Bold";
  src: url("../fonts/SFUIText/SFUIText-Bold.eot");
  src: url("../fonts/SFUIText/SFUIText-Bold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/SFUIText/SFUIText-Bold.woff") format("woff"),
  url("../fonts/SFUIText/SFUIText-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}