html, body, #wrapper, main {
  min-height: 100vh;
}

html {
  font-size: 16px;
}

body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  min-width: 320px;
}

#wrapper {
  overflow: hidden;
  min-width: 320px;
}

section {
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
