<%= _.template(require('./templates/header.html').default)() %>

<div id="wrapper">
  <main id="main">

    <div id="scroll-navigation" class="scroll-navigation">
      <span class="welcome">Welcome to my page</span>
      <ul>
        <li data-section="homeSection" class="active">
          <h2>Web development</h2>
        </li>
        <li data-section="angularSection"><h2>Angular</h2></li>
        <li data-section="jsSection"><h2>Java Script</h2></li>
        <li data-section="htmlSection"><h2>Html/Css/JS</h2></li>
      </ul>
    </div>

    <section id="homeSection" class="first-screen">
      <div class="header-holder">
        <h2 class="section-header">
          <span>Welcome to my page</span> <br>
          Web development
        </h2>
      </div>
      <div id="parallax"></div>
    </section>

    <section id="jsSection" data-projectLinks="projectJs" class="port-section">
      <h2 class="section-header">
        Java Script
      </h2>
      <%= _.template(require('./templates/projectJs.html').default)() %>
    </section>

    <section id="angularSection" data-projectLinks="projectAngular" class="port-section">
      <h2 class="section-header">
        Angular
      </h2>
      <%= _.template(require('./templates/projectAngular.html').default)() %>
    </section>

    <section id="htmlSection" data-projectLinks="projectHtml" class="port-section">
      <h2 class="section-header">
        Html/Css/JS
      </h2>
      <%= _.template(require('./templates/projectHtml.html').default)() %>
    </section>

  </main>
</div>

<%= _.template(require('./templates/footer.html').default)() %>
