<%= _.template(require('./templates/header.html').default)() %>

<div id="wrapper">
  <main id="main">

    <section class="first-screen content__section">
      <span class="welcome show-welcome">Welcome to my page</span>
      <h2 class="section-title first-title top content__text">Web development</h2>
      <div id="parallax"></div>
    </section>

    <section id="angularSection" class="port-section content__section">
      <h2 class="section-title bottom content__text">Angular</h2>
      <div class="content__link">
        <div class="grid-layout">
          <%= _.template(require('./templates/projectJs.html').default)() %>
        </div>
      </div>
    </section>

    <section id="jsSection"  class="port-section content__section">
      <h2 class="section-title bottom content__text">JavaScript</h2>
      <div class="content__link">
        <div class="grid-layout">
          <%= _.template(require('./templates/projectJs.html').default)() %>
        </div>
      </div>
    </section>

    <section id="htmlSection"  class="port-section content__section">
      <h2 class="section-title bottom content__text">Html/Css/Js</h2>
      <div class="content__link">
        <div class="grid-layout">
          <%= _.template(require('./templates/projectHtml.html').default)() %>
        </div>
      </div>
    </section>



  </main>
</div>

<%= _.template(require('./templates/footer.html').default)() %>
