<%= _.template(require('./templates/header.html').default)() %>

<div id="wrapper">
  <main id="main">
    <section class="first-screen">
      <div class="container">
        <div class="row align-items-center text-left">
          <div class="text-block col-lg-9 col-xl-9">
            <span class="text-uppercase">welcome to my page</span>
            <h1>WEB DEVELOPMENT TUTORIALS & COURSES</h1>
          </div>
        </div>
      </div>
      <div id="parallax"></div>
    </section>
    <section>
      <div class="container">
        <h2 class="section-title">Angular</h2>
      </div>
    </section>
    <section>
      <div class="container">
        <h2 class="section-title">JavaScript</h2>
        <%= _.template(require('./templates/projectJs.html').default)() %>
      </div>
    </section>
    <section>
      <div class="container">
        <h2 class="section-title">Html/Css/Js</h2>
        <%= _.template(require('./templates/projectHtml.html').default)() %>
      </div>
    </section>
  </main>
</div>

<%= _.template(require('./templates/footer.html').default)() %>
