//vendor
@import "vendor/normalize.css";
@import "vendor/bootstrap.min.css";
@import "vendor/particles.css";

//common
@import "common/fonts";
@import "common/general";

//variables
:root {
  --redColor: #DF292D;
}

@mixin redLine($top, $left) {
  content: '';
  position: absolute;
  left: $left;
  top: $top;
  width: 50px;
  height: 7px;
  background: var(--redColor);
}

@mixin redLinkTransition() {
  &:hover, &:focus, &:active {
    color: var(--redColor);
    text-decoration: none;
    outline: none;
    font-weight: normal;
    transition-delay: .3s;
  }
  &:before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    color: var(--redColor);
    overflow: hidden;
    max-width: 0;
    transition: max-width .5s;
  }
  &:hover::before {
    max-width: 100%;
  }
}

//additional classes
.redLinkTransition {
  color: white;
  position: relative;
  display: block;
  transition: color .3s;
  @include redLinkTransition;
}

//header
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,.2);
  padding: 15px 0;
  z-index: 999;
  color: white;
  transition: all .3s;
  .logo {
    line-height: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .3s;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: white;
        position: relative;
        display: block;
        transition: color .3s;
        @include redLinkTransition;
      }
    }
  }
}

header.active {
  padding: 10px 0;
  background: rgba(0,0,0,1);
  transition: all .3s;
  .logo {
    line-height: 15px;
    font-size: 16px;
    transition: all .3s;
  }
}

//first screen
.first-screen {
  position: relative;
  z-index: 2;
  .row {
    min-height: 100vh;
    .text-block {
      color: #fff;
      h1 {
        font-size: 60px;
        position: relative;
        padding-bottom: 10px;
        &:after {
          @include redLine(100%, 0);
        }
      }
    }
  }
  #parallax {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../assets/static/images/bg-parallax2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.8);
      z-index: -1;
    }
  }
}

//section
section {
  margin-bottom: 100px;
}

.ioapi .content__text {
  position: fixed;
  opacity: 0;
}

.section-title {
  padding-left: 60px;
  top: 250px;
  left: 50px;
  z-index: 1;
  position: relative;
  &:before {
    @include redLine(50%, 0);
    transform: translateY(-50%);
  }
}

//projects
.port-section {
  max-width: 1900px;
}
.content__link {
  background: #ccc;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  .project-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 260px;
    &:hover .content {
      left: 0;
    }
    img {
      height: 260px;
      max-width: 365px;
      object-fit: cover;
      object-position: center;
    }
    .content {
      position: absolute;
      left: -100%;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: rgba(4, 105, 180, 0.8);
      color: white;
      transition: left .3s;
    }
    .live-button {
      background: #040e27;
      color: white;
      padding: 10px 25px;
      display: block;
      &:hover, &:active, &:focus {
        outline: none;
        text-decoration: none;
      }
    }
  }
}

