* {
  box-sizing: border-box;
}
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

body {
  font-family: GothamProLight, Arial, sans-serif;
  background: #fff;
  font-size: 14px;
  color: #000;
  line-height: 1.428571429;
  min-width: 320px;
  flex: 100%;
}
#wrapper {
  flex: 1 1 100%;
  overflow: hidden;
  display: none;
}
section {
  padding: 0 10px;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
.float-left {
  float: left;
  margin: 10px;
  max-width: 90%;
}
.float-right {
  float: right;
  margin: 10px;
  max-width: 90%;
}
.google-map {
  min-height: 400px;
}